.flex {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap, 4rem);
}
.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	background: hsl(0 0% 0% / 0.8);
}

@supports (backdrop-filter: blur(1rem)) {
	.primary-navigation {
		background: hsl(0 0% 100% / 0.25);
		backdrop-filter: blur(1rem);
	}
}

@media (max-width: 616px) {
	.primary-navigation {
		--gap: 5rem;

		position: fixed;
		z-index: 100;
		inset: 0 0 0 50%;

		flex-direction: column;
		padding: min(30vh, 10rem) 2rem;

		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	.primary-navigation[data-visible="true"] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 100;
		background: url("../../assets/menu.png") center/cover no-repeat;
		background-color: white;
		width: 2rem;
		border: 0;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background: url("../../assets/close.png") center/cover
			no-repeat;
		background-color: white;
	}
}
